<div class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#"
    id="managedropdownmenu" data-toggle="dropdown">
        Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        <a class="dropdown-item" href="/database/dbmanage/index">
            Database
        </a>
    </div>
</div>